.content{
    background: #ffffff;
    height: 100%;
    width: 100%;
}

.information{
    width: 100%;
    height: 627px;
    background: #ffffff;
    font-weight: bold;
}


.up-head{
    background: #EFF3F6;
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 1px;
}

.ca{
    margin: 30px 0 0 50px;
    padding: 5px 40px 0 40px ;
    background: #ffffff;
    color: #169FDB;
    border-left: #d0d0d0 solid 1px;
    border-top: #d0d0d0 solid 1px;
}

.annouce{
    margin: 35px 0 0 100px;
    color: #8b8b8b;
}

.booking{
    margin: 35px 0 0 120px;
    color: #8b8b8b;
}

.tax{
    margin: 35px 0 0 120px;
    color: #8b8b8b;
}

.new-ca{
    color: #E2F3FA;
    background: #6DC1E6;
    margin: 20px 0 20px 690px;
    padding: 0 15px 0 15px;
    border-radius: 5px;
    font-weight: lighter;
}


.filters{
    background: #FCFDFD;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #8b8b8b;
    font-size: 14px;
    margin: 10px 0 10px 0;
    position: relative;
}

.check{
    margin: 10px 0 0 5px;
    height: 20px;
}

.export {
    border-left: #8b8b8b solid 1px;
    padding: 0 0 0 40px;
    text-align: center;
}

.cancel{
    text-align: center;
}

.a-filters{
    text-align: center;
    border-left: #8b8b8b solid 1px;
    padding: 0 0 0 40px;
}

.d-filters{
    text-align: center;
    border-right: #8b8b8b solid 1px;
    padding: 0 40px 0 0;
}

.my-ca{
    margin:  0 0 0 0;
    padding:  0 10px 0 10px;
    background-color: #FCFDFD;
    border-radius: 10px;
}



.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 0 0 40px;
    border-color: transparent transparent transparent #ffffff;
    margin-top: 30px;
}

.grey-case p{
    margin: 0;
}

.fa-user{
    margin-right: 10px;
}

.grey-case {
    background-color: #F1F4F7;
    border-radius: 15px;
    padding: 5px 20px;
    height: 15px;
    margin-top: 20px;
    display: flex;
}

.user-img {
    width: 20px;
}

.all{
    color: #43B4E5;
    background-color: #B4E8FF;
}

.c-arrow{
    border-left: #8b8b8b solid 1px;
    padding: 15px 0 0 40px;
}

.numb{
    margin-top: 10px;
    padding-left: 20px;
}

.number{
    background-color: #FCFDFD;
    border: #cecece solid 1px;
    padding-left: 15px;
    border-radius: 5px;
}

.numb2{
    width: 90px;
    margin: 10px 0 0 1530px;
}

.announcement{
    display: flex;

}

.number2{
    color: #8b8b8b;
    border: #cecece solid 1px;
    padding-left: 15px;
    border-radius: 5px;
    background-color: white;
    height: 45px;
}

.numberz2{
    margin: 10px 0 0 60px;
}

.void{
    display: flex;
    background-color: #EFF3F6;
    height: 80px;
    width: 100%;
    font-size: 14px;
    font-weight: bolder;
}

.notif{
    display: flex;
    height: 25px;
    margin-left: 5px;
}

.ui {
    text-align: center;
    padding: 5px 5px;
    border-radius: 50%;
    background: #ff7b15;
    color: #e7e7e7;
    font-size: 10px;
    margin-top: -2px;
    margin-bottom: 30px;
    margin-left: 6px;
}

.annouce{
    display: flex;
}

.trd{
    margin-top: 10px;
    float: right;
}

.lb{
    margin-top: 10px;
}

.lb-img{
    align-content: center;
}

.trd-img{
    align-content: center;
}


.sect{
    border-top: #d1d1d1 solid 1px;
    border-bottom: #d1d1d1 solid 1px;
    height: 50px;
    background-color: #F6FAFC;
}

.sect-info{
    display: flex;
    color: #43B4E5;
    justify-content: space-around;
    font-size: 14px;
    font-weight: bold;
    margin-left: 270px;
    margin-right: 30px;
    margin-bottom: 0px;
}


.data{
    background: #ffffff;
    height: 100px;
}

.data-info {
    font-weight: lighter;
    font-size: 14px;
    width: 100%;
    line-height: 2.0;
    color: #797979;
}

.data-box{
    border-bottom: #d1d1d1 solid 1px;
    display: flex;
}

.data-box-g{
    border-bottom: #d1d1d1 solid 1px;
    display: flex;

}

.data-box-g img{
    height: 20px;
    margin: 15px 0 0 20px;
}

.data-box img{
    margin: 15px 0 0 20px;
    height: 20px;
}

.data-icons{
    width: 300px;
}

.numberz{
    margin-top: 15px;
}

.arrow{
    margin-top: 10px;
}

.bubble-icons{
    height: 20px;
    margin-left: 100px;
}

.data-text{
    display: flex;
    line-height: 3;
}

.d1 {
    margin-left: 30px;
}

.d2 {
    margin-left: 80px;
}

.d3 {
    margin-left: 90px;
}

.d4 {
    margin-left: 80px;
}

.d5 {
    margin-left: 80px;
}

.d6 {
    margin-left: 95px;
}

.d7 {
    margin-left: 100px;
}

.d8 {
    margin-left: 110px;
}

.d9 {
    margin-left: 110px;
}

.user{
    width: 20px;
}

.check-icons{
    height: 100px;
    margin-left: 0;
}

.bubble-icons-g{
    width: 20px;
}

.bubble-icons{
    width: 20px;
}

.pts3{
    width: 8px;
}

.cloche{
    width: 30px;
}

.progres{
    width: 10px;
}

.plus{
    margin-left: 20px;
}




