.purpleline {
    background: #9362BA;
    height: 10px;
    width: 100%;
}

.bottomline{
    background: #581E74;
    height: 25px;
    width: 100%;
}

footer p {
    color: #DBD3DF;
    margin: auto;
    font-weight: lighter;
    font-size: 12px;
    line-height: 28px;
    padding-left:30px;
}

.bpce-logo img{
    height: 40px;
    padding-left:28px;
}
