.headline {
    background:#9362BA;
    height: 30px;
    width: 100%;
}

.nlogo{
    padding-left:20px;
}

.navbar{
    height:70px;
    width:100%;
    display: flex;
    margin-top: 20px;
}

.logon {
    position:absolute;
    right:60px;
    margin-top: 12px;
}

.liste {
    position:absolute;
    right:160px;
    margin-top: 11px;
}

.flechehaut {
    position: absolute;
    right: 260px;
    margin-top: 8px;
    height: 40px;
}

.userconfig {
    position:absolute;
    right:360px;
    margin-top: 8px
}

.calendars {
    position:absolute;
    right:460px;
    margin-top: 8px
}