.headline {
    background:#9362ba;
    height: 30px;
    width: 1920px;

}

.navbar{
    height:52px;
    width:1920px;
    display: flex;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}


.logon {
    position:absolute;
    right:30px;
    margin-top: 10px
}

.liste {
    position:absolute;
    right:100px;
    margin-top: 7px;
}

.flechehaut {
    position:absolute;
    right:195px;
    margin-top: 9px
}

.userconfig {
    position:absolute;
    right:290px;
    margin-top: 8px
}

.calendars {
    position:absolute;
    right:390px;
    margin-top: 8px
}