.alert {

    text-align: right;
    width:400px;
    height: 500px
}
.b1 {
    background-color:#169FDB ;
    height:230px;
}

#bluepie {
    width:400px;
    height:230px
}

.b2{
    background-color:white;
    height: 235px;
}

#bluecharts {width:400px;
    height:230px
}

.b3{
    background-color: #F6FAFC;
    height:35px;
    box-shadow: 0 1px #BDC7D2;
    display: flex;
    justify-content: flex-end;
}

.b31{
    font-family: arial;
    color: #879BAB;
    font-weight: lighter;
    margin-top: 7px;
    margin-right: 25px
}


.b32{
    margin-top: 7px;
    margin-right: 15px;
    height:20px;
    width: 20px;
    filter: grayscale(100%);
}

.today {

    text-align: right;
    width:400px;
    height: 500px
}

.g1 {
    height:230px;
}

#greencharts {
    width:400px;
    height:230px
}

.g2{
    background-color: white;
    height: 235px;
    text-align: center;
    font-family:arial;
    font-size: 25px;
    font-weight: lighter;
    color: darkgray;


}
#greenbars {
    width: 400px;
    height: 205px
}
.g3{
    background-color: #F6FAFC;
    height:35px;
    box-shadow: 0 1px #BDC7D2;
    display: flex;
    justify-content: flex-end;
}
.g31{
    font-family: arial;
    color: #879BAB;
    font-weight: lighter;
    margin-top: 7px;
    margin-right: 25px
}


.g32{
    margin-top: 7px;
    margin-right: 15px;
    height:20px;
    width: 20px;
    filter: grayscale(100%);
}





.team {

    text-align: right;
    width:400px;
    height: 500px
}

.v1 {
    height:230px;
}

#violetpie {
    width:400px;
    height:230px
}

.v11{
    width:400px;
    height:40px;
    margin-top: 40px
}

.v12 {
    width:400px;
    height:50px;
    margin-top: 10px

}
.v2{
    background-color:white;
    height: 235px;
    text-align: center;
    font-family:arial;
    font-size: 25px;
    font-weight: lighter;
    color: darkgray;
    box-shadow: 0 2px #BDC7D2;

}


.v3{
    box-shadow: 0 1px #BDC7D2;
    background-color: #F6FAFC;
    height:35px;
    display: flex;
    justify-content: flex-end;
}

.v31{
    font-family: arial;
    color: #879BAB;
    font-weight: lighter;
    margin-top: 7px;
    margin-right: 25px
}


.v32{
    margin-top: 7px;
    margin-right: 15px;
    height:20px;
    width: 20px;
    filter: grayscale(100%);
}