.welcome {
    height: 800px;
    width:1920px;
    background:#EFF3F6;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}



.john { color: #9362ba;
    text-align:right;
    font-family: arial;
    font-weight: lighter;
    width:919px;
    height: 105px;
    margin-top: 50px;
    margin-right: 15px;
}

.dashboard {
    width:600px;
    height: 110px;
    display: flex;
    justify-content: right;
}

.inside{
    display:flex;
    justify-content:center;
    background-color:white;
    color:#9362ba;

    width:200px;
    height:50px;
    margin-top: 50px
}

.dash{
    margin-top: 10px;
}