.comments {
    height: 200px;
    width:400px;
    margin-top: -60px;
    border-top: #CED5DD solid 1px
}

.titlecomments {
    color:#34ABDF;
    font-family: Arial;
}

.comment{
    font-size: 12px;
    color:455465;

}