.dates {
    height: 250px;
    width:400px;
    margin-left: 60px;
}

.title {
    color:#34ABDF;
    font-family: Arial;

}

.exdate{
    margin: 10px 30px 10px 0;
    display: flex;
    font-family: Arial;
    font-size: 13px;
}
.exdateright{
    margin-left: 100px;
}
.exdateleft{
    color:#99A6B1
}

.greenckeck{
    margin-left: -20px;
    height: 15px;
    width: 15px;
}

.recorddate{
    margin: 10px 30px 10px 0;
    display: flex;
    justify-content: left;
    font-family: Arial;
    font-size: 13px;
}


.recordleft{
    color:#99A6B1
}
.recordright{
    margin-left: 60px;
}


.boxinside{
    position: relative;
    height: 50px;
    width: 300px;
    border: solid 2px #849F10;
    border-right:solid 7px #849F10  ;
    border-radius: 2px ;
    background-color: white ;
}

.subreccase{

    position: absolute;
}
.subreccase2{
    position: relative;
   margin-top: -27px;
}

.paymentdate{
    margin: 10px 30px 10px 0;
    display: flex;
    justify-content: left;
    font-family: Arial;
    font-size: 13px;
}


.paymentdateleft{
    color:#99A6B1
}
.paymentdateright{
    margin-left: 55px;
}

.expirydate{
    margin: 10px 30px 10px 0;
    display: flex;
    justify-content: left;
    font-family: Arial;
    font-size: 13px;
}


.expirydateleft{
    color:#99A6B1
}
.expirydateright{
    margin-left: 70px;
}

.boxl1{
    color:#99A6B1;
    display: flex;
    font-family: Arial;
    font-size: 12px;
    margin-left:10px ;
}

.boxl2 {
    display: flex;
    color:#849F10;
    font-size: 12px;
    margin-left: 10px;
    font-family: Arial;
    font-weight: bold;
}

.I {
    font-family: Arial;
    margin: 0 10px 0 10px ;

}

.boxl3 {
    color:#99A6B1 ;
    display: flex;
    font-size: 12px;
    margin-left: 10px;
    font-family: Arial;
    font-weight: bold;
}