.details {
    height: 200px;
    width:400px;
    margin-top: -50px;
    border-top: #CED5DD solid 1px;
}

.titleDetails {
    color:#34ABDF;
    font-family: Arial;

}

.ticker{
    margin: 10px 30px 10px 0;
    display: flex;
    font-family: Arial;
    font-size: 13px;
}
.tickerright{
    margin-left: 85px;
}
.tickerleft{
    color:#99A6B1
}

.greenckeck{
    margin-left: -20px;
    height: 15px;
    width: 15px;
}

.isin{
    margin: 10px 30px 10px 0;
    display: flex;
    justify-content: left;
    font-family: Arial;
    font-size: 13px;
}


.isinleft{
    color:#99A6B1
}
.isinright{
    margin-left: 107px;
}


.codebic{
    margin: 10px 30px 10px 0;
    display: flex;
    font-family: Arial;
    font-size: 13px;
}
.codebicright{
    margin-left: 73px;
}
.codebicleft{
    color:#99A6B1
}

.price{
    margin: 10px 30px 10px 0;
    display: flex;
    font-family: Arial;
    font-size: 13px;
}
.priceright{
    margin-left: 90px;
}
.priceleft{
    color:#99A6B1

}

.ratio{
    margin: 10px 30px 10px 0;
    display: flex;
    font-family: Arial;
    font-size: 13px;
}
.ratioright{
    margin-left: 90px;
}
.ratioleft{
    color:#99A6B1

}