
.identity {
    color:#34ABDF;
    font-family: Arial;

}

.security{
    margin: 10px 30px 10px 0;
    display: flex;
    font-family: Arial;
    font-size: 13px;
}
.secright{
    margin-left: 70px;
}
.secleft{
    color:#99A6B1
}

.greenckeck{
    margin-left: -20px;
    height: 15px;
    width: 15px;
}

.classification{
    margin: 10px 30px 10px 0;
    display: flex;
    justify-content: left;
    font-family: Arial;
    font-size: 13px;
}


.classileft{
    color:#99A6B1
}
.classiright{
    margin-left: 30px;
}


.type{
    margin: 10px 30px 10px 0;
    display: flex;
    font-family: Arial;
    font-size: 13px;
}
.typeright{
    margin-left: 98px;
}
.typeleft{
    color:#99A6B1
}

.subitype{
    margin: 10px 30px 10px 0;
    display: flex;
    font-family: Arial;
    font-size: 13px;
}
.subiright{
    margin-left: 70px;
}
.subileft{
    color:#99A6B1

}