@import "identity.css";
@import "dates.css";
@import "details.css";
@import "options.css";
@import "comments.css";

.main2{
    margin-top: 40px;
    height:400px;
    width:1000px;
    display:flex;
    flex-wrap: wrap;

}


