.options {
    height: 300px;
    width:500px;
    margin-left:62px;
    border-top: #CED5DD solid 1px
}


.titleoptions {
    color:#34ABDF;
    font-family: Arial;

}

.option{
    margin: 10px 30px 10px 0;
    display: flex;
    font-family: Arial;
    font-size: 13px;
}
.optionright{
    margin-left: 85px;
}
.optionleft{
    color:#99A6B1
}

.greenckeck{
    margin-left: -20px;
    height: 15px;
    width: 15px;
}

.choice{
    margin: 10px 30px 10px 0;
    display: flex;
    justify-content: left;
    font-family: Arial;
    font-size: 13px;
}


.choiceleft{
    color:#99A6B1
}
.choiceright{
    margin-left: 85px;
}


.typeo{
    margin: 10px 30px 10px 0;
    display: flex;
    font-family: Arial;
    font-size: 13px;
}
.typeoright{
    margin-left: 100px;
}
.typeoleft{
    color:#99A6B1
}

.gross{
    margin: 10px 30px 10px 0;
    display: flex;
    font-family: Arial;
    font-size: 13px;
}
.grossright{
    margin-left: 30px;
}
.grossleft{
    color:#99A6B1

}

.ratio{
    margin: 10px 30px 10px 0;
    display: flex;
    font-family: Arial;
    font-size: 13px;
}
.ratioright{
    margin-left: 90px;
}
.ratioleft{
    color:#99A6B1
}
