.bar1{
    height:120px;
    width:1900px;
    border-bottom:#cecece solid 1px;
    background-color:#EFF3F6 ;
}

.task{
    justify-content: center;
    font-family:arial;
    font-weight: lighter;
    font-size:10px ;
    height: 20px;
    width:1500px;
    background-color: #CCECFB;
    display: flex;
    margin-left: 200px;
    padding-top: 6px;
    color:#6F8A9D ;
}
.I{
    margin-right: 30px;
}
.task1done{
     margin: 0 40px 1px 10px;
     height: 12px;
     width: 50px;
     border:#75C7EC solid 1px;
     background-color: #EBF7FE;
     text-align: center;
     border-radius: 10px;
     color:#56B3E2;

 }

.task2done{
    margin: 0 0 1px 10px;
    height: 12px;
    width: 50px;
    border:#75C7EC solid 1px;
    background-color: #EBF7FE;
    text-align: center;
    border-radius: 10px;
    color:#56B3E2 ;

}


.onglet{display:flex;
    margin: 70px 0 0 20px


}

.cafolder{
    margin: -6px 0 16px 60px;
    font-size: 12px;
    text-align: center;
    color: #7D93A4;
    background-color: #E7EDF2;
    height:21px;
    width:100px;
    padding-top:9px
}

.triangle{
    margin-top: -6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 0 0 22px;
    border-color: transparent transparent transparent #e7edf2;


}
.caannouncements{
    font-size: 12px;
    margin: 0 0 0 100px;
    height: 13px;
    width: 130px;
    border:#75C7EC solid 1px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    color:#169FDB;
}


.cahistoric{
    font-size: 12px;
    text-align: center;
    color: #7D93A4;
    margin: 0 0 0 130px;
}

.cataxation{
    font-size: 12px;
    text-align: center;
    color: #7D93A4;
    margin: 0 0 0 140px;

}

.ongletsdroit{
    display: flex;

}

.providers{
    height: 40px;
    width:180px;
    background-color: #169FDB;
    margin: -40px 0 0 320px;
    color:white;
    text-align: center;
    font-family: Arial;
    border-radius: 1px;

}

.edit{
    height: 40px;
    width:180px;
    background-color: #6DC1E6;
    margin: -40px 0 0 40px;
    color:white;
    text-align: center;
    font-family: Arial;
    border-radius: 1px;

}

.wb{
    height:50px;
    color: white;
}