.bar2{
    display: flex;
    height: 30px;
    width:1900px;
    border-left: 5px solid #22A4DD;
    border-top:#cecece 1px ridge;
    background-color: #F0FAFF;
}

.br1{
    margin-left: 13px;
}

.br2{
    margin:2px 0 0  19px;
    height: 25px;
    width: 25px;
}

.br3{
    margin: 8px 0 0 29px;
    font-family: Arial;
    font-weight: lighter;
    font-size: 13px;
    color: #455465;
}

.br4{
    margin: 8px 0 0 32px;
    font-family: Arial;
    font-weight: lighter;
    font-size: 13px;
    color: #455465;
}

.br5{
    margin:7px 0 0  19px;
    height: 25px;
    width: 25px;
}

.br6{
    margin: 8px 0 0 32px;
    font-family: Arial;
    font-weight: lighter;
    font-size: 13px;
    color: #455465;
}

.br7{margin: 8px 0 0 32px;
    font-family: Arial;
    font-weight: lighter;
    font-size: 13px;
    color: #455465;
}

.br8{
    margin:6px 0 0  19px;
    height: 25px;
    width: 25px;
}

.br9{
    margin: 8px 0 0 30px;
    font-family: Arial;
    font-weight: lighter;
    font-size: 13px;
    color: #455465;
}

.br10{
    margin-left: auto;
    margin-right: 25px;
}