.purpleline {
    background: #9362ba;
    height: 10px;
    width: 1900px;
}

.bottomline{
    background: #661f75;
    height: 25px;
    width: 1900px;

}

footer{
margin-top: 5px;
}

footer p {
    color: #dbdbdb;
    margin: auto;
    font-weight: lighter;
    font-size: 12px;
    line-height: 28px;
    padding-left:30px;

}

.bpce-logo img{
    height: 40px;
    padding-left:28px;
}
