.headline {
    background:#9362ba;
    height: 30px;
    width: 1900px;

}

.nlogo{
    padding-left:20px;
}

.navbar{
    height:70px;
    width:1900px;
    display: flex;
    margin-top: 20px;
}

.navigation {
}


.logon {
    position:absolute;
    right:30px;
    margin-top: 12px;

}

.liste {
    position:absolute;
    right:100px;
    margin-top: 7px;
}

.flechehaut {
    position:absolute;
    right:195px;
    margin-top: 9px
}

.userconfig {
    position:absolute;
    right:290px;
    margin-top: 8px
}

.calendars {
    position:absolute;
    right:390px;
    margin-top: 8px
}