.main1{
    padding: 60px 0 0 50px;
    height: 100px;
    width:500px;
    justify-content: left;

}

.l1 {
    font-family:arial;
    padding: 15px 0 0 20px;
    border-top: #DDE2E8 solid 1px ;
    border-bottom:#DDE2E8 solid 1px;
    height: 30px;
    width:500px;
    display: flex;
    color: #5D6A79


}

.l2 {font-family:arial;
    padding: 20px 0 0 20px;
    border-top: #DDE2E8 solid 1px ;
    border-bottom:#DDE2E8 solid 1px;
    height: 30px;
    width:500px;
    display: flex;
    color: #5D6A79
}

.l3 {
    font-family:arial;
    padding: 15px 0 0 20px;
    border-top: #DDE2E8 solid 1px ;
    border-bottom:#DDE2E8 solid 1px;
    height: 30px;
    width:500px;
    display: flex;
    color: #5D6A79
}

.pdf {
    width:30px;
    margin:0 10px 10px 15px
}

.xls {
    width:30px;
    margin:0 10px 10px 15px
}

.doc {
    width:30px;
    margin:0 10px 10px 15px
}