.subheader{

    border-bottom: solid darkgray 1px;
    border-top: solid darkgray 1px;
    display: flex;
}
.workflowtext{
    color: #9362ba;
    margin-left: 50px;
    margin-top: 8px;
    font-size: 20px;
    font-family: Arial;
    font-weight: lighter;
}
.workflowlog{
    margin-top: 3px;
    margin-left: 35px;
}